
*{
    font-family: "Microsoft YaHei",sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    border: 0;
}
a{
    color: #333;
}
.heima_topBar{
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    position: relative;
}
.heima_topBar a{
    color: #666;
}
.heima_topBar > .container > .row > div{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.heima_app{
    position: relative;
    display: block;
}
.heima_topBar .btn-register{
    background: #E92322;
    color: #fff;
    padding: 3px 15px;
}


.navbar
{
    display: block;
}
.navbar .navbar-brand
{
    padding-left: 230px;
}
.navbar li{
    display: block;
    padding: 0px 40px;
}
.navbar li a{
    color: black;
}


.carousel-inner img {
    width: 100%;
    height: 100%;
}



.heima_info{
    padding: 50px;
    border-bottom: 1px solid #ccc;
}
.heima_info > .container{
    width: 910px;
}
.heima_info .heima_icon{
    font-size: 30px;
}
.heima_info .col-md-4{
    padding: 10px;
}



.heima_book{
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
}
.heima_book > .container{
    width: 910px;
}

.heima_book .heima_icon{
    font-size: 24px;
}
.heima_book .book_link{
    color: #E92322;
    border-bottom: 1px dashed #E92322;
}


.heima_product{
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
}
.nav-tabs-product {
    border-bottom: 1px solid #ccc;
}
.nav-tabs-product > li {
    float: left;
    padding-left: 20px;
}
.nav-tabs-product > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
}

.card{
    display: block;
    margin-top: 30px;
    margin-left: 40px;
}








.heima_news{
    padding: 20px 0;
}

.heima_news .news_title{
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
}
.heima_news .news_title::after{
    content: "";
    position: absolute;
    bottom: -3px;
    right: -6px;
    width: 6px;
    height: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.heima_news .news_line{
    position: absolute;
    top: 0;
    left: 45px;
    height: 100%;
    border-left: 1px dashed #ccc;
    width: 1px;
}

/*����  tab*/
.nav-tabs-news {
    border: none;
}
.nav-tabs-news > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs-news > li > a {
    margin-right:0;
    border: none;
    height: 60px;
    line-height: 60px;
    width: 60px;
    border-radius: 30px;
    background: #ccc;
    margin-bottom: 60px;
    padding: 0;
    text-align: center;
}

.nav-tabs-news > li:last-child > a{
    margin-bottom: 0;
}
.nav-tabs-news > li > a > .heima_icon{
    font-size: 30px;
    color: #fff;
}
.nav-tabs-news > li > a:hover {
    border: none;
    background: #E92322;
}

.nav-tabs-news.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs-news.nav-justified > li {
    float: none;
}
.nav-tabs-news.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-tabs-news.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

.nav-tabs-news.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}

.heima_news .tab-pane > ul {
    list-style: none;
}
.heima_news .tab-pane > ul > li {
    padding: 10px;
}
.flx{
    text-align: center;
    margin: 25px 10px;
    background-color: aliceblue;
    height: 180px;
}
.flx ul{
    margin: 20px 300px;
}
.flx ul li{
    list-style:none;
    padding-left: 25px;
}
